In [1]:
import pandas as pd
import copy
import numpy as np
import pickle

In [3]:
path = "/Users/devasou/code/moth_project/0_database/tracking/AMI - Moth Classification Results Comparrison - Jan 18, 2023 - inat_validation_data_with_sources_and_scores-20230204.csv"
df = pd.read_csv(path)
df.head(1)

,inat_id,description,source_image_original,source_image_cropped,status,date,timestamp,identifications_most_agree,taxon_name,taxon_rank,...,true_label_rank,true_label,label_aug22,score_aug22,label_mixedres,score_mixedres,correct_aug22,correct_mixedres,model_aug22,model_mixedres
0,142101810,Machine capture. Cropped image: 000001.jpg. So...,20220731233507-00-91.jpg,000001.jpg,needs_id,2022-07-31,2022-08-01 03:35:00+00:00,True,Pandemis,genus,...,genus,Pandemis,Argyrotaenia quadrifasciana,31,Argyrotaenia quadrifasciana,66,0,0,quebec-vermont-moth-model_v02_efficientnetv2-b...,quebec-vermont-moth-model_v07_resnet50_2022-12...

In [4]:
df.correct_aug22.sum()

136

In [5]:
136/344

0.3953488372093023

In [3]:
df_ids_raw = df_raw[df_raw['track_id'] == 39]
df_ids_raw

,image,track_id,bb_topleft_x,bb_topleft_y,bb_botright_x,bb_botright_y,bb_centre_x,bb_centre_y,class,subclass,confidence
1994,20220513213720-00-23.jpg,39.0,1650,800,1738,926,1694,863,moth,Archips argyrospila,16
2006,20220513213722-00-23.jpg,39.0,1649,800,1738,925,1693,862,moth,Phobetron pithecium,14
2017,20220513213725-00-23.jpg,39.0,1648,803,1738,927,1693,865,moth,Catocala ilia,10
2027,20220513213727-00-23.jpg,39.0,1649,806,1737,926,1693,866,moth,Acleris variana,17
2034,20220513213747-00-24.jpg,39.0,901,388,995,495,948,441,moth,Hemaris gracilis,45
2046,20220513213749-00-24.jpg,39.0,917,333,1009,443,963,388,moth,Euclea delphinii,26
2059,20220513213751-00-24.jpg,39.0,917,331,1009,444,963,387,moth,Thyris maculata,40
2072,20220513213753-00-24.jpg,39.0,918,329,1009,444,963,386,moth,Arctia parthenos,64
2082,20220513213756-00-24.jpg,39.0,1315,1010,1409,1117,1362,1063,moth,Hemaris gracilis,26
2095,20220513213758-00-24.jpg,39.0,1761,687,1848,798,1804,742,moth,Haploa contigua,8
2103,20220513213800-00-24.jpg,39.0,1773,568,1869,686,1821,627,moth,Alypia octomaculata,15
2116,20220513213802-00-24.jpg,39.0,2353,2010,2450,2147,2401,2078,moth,Argyrotaenia velutinana,62
2127,20220513213804-00-24.jpg,39.0,1866,241,1945,352,1905,296,moth,Eudryas unio,25

In [17]:
_ = pd.read_pickle("avgs_test.pkl")
_

                     subclass  confidence
2027          Acleris variana        17.0
2103      Alypia octomaculata        15.0
1994      Archips argyrospila        16.0
2072         Arctia parthenos        64.0
2116  Argyrotaenia velutinana        62.0
2017            Catocala ilia        10.0
2046         Euclea delphinii        26.0
2127             Eudryas unio        25.0
2095          Haploa contigua         8.0
2034         Hemaris gracilis        45.0
2082         Hemaris gracilis        26.0
2006      Phobetron pithecium        14.0
2059          Thyris maculata        40.0

In [18]:
__ = pd.read_pickle("df_mean_test.pkl")
__

                         confidence
subclass
Acleris variana                17.0
Alypia octomaculata            15.0
Archips argyrospila            16.0
Arctia parthenos               64.0
Argyrotaenia velutinana        62.0
Catocala ilia                  10.0
Euclea delphinii               26.0
Eudryas unio                   25.0
Haploa contigua                 8.0
Hemaris gracilis               35.5
Phobetron pithecium            14.0
Thyris maculata                40.0

In [12]:
_.columns = ['subclass','confidence']

In [14]:
_.index.name = None

In [15]:
_

                     subclass  confidence
2027          Acleris variana        17.0
2103      Alypia octomaculata        15.0
1994      Archips argyrospila        16.0
2072         Arctia parthenos        64.0
2116  Argyrotaenia velutinana        62.0
2017            Catocala ilia        10.0
2046         Euclea delphinii        26.0
2127             Eudryas unio        25.0
2095          Haploa contigua         8.0
2034         Hemaris gracilis        45.0
2082         Hemaris gracilis        26.0
2006      Phobetron pithecium        14.0
2059          Thyris maculata        40.0